output/images/*
backup/*

ImageIndexer.py
test.py
DataDecoder.py
test.json

Lib/*
Scripts/*
Include/*
pyvenv.cfg
__pycache__/*
.vscode
ublock.zip
uBlock0.chromium/*
chromedriver.zip
chromedriver.exe
LICENSE.chromedriver